{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "semi": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "svelteSortOrder": "scripts-markup-styles-options",
  "svelteIndentScriptAndStyle": true
}
